.invoice {
  flex: 4;
  margin-top: 15px;
  padding: 20px;
}

.invoiceIntroduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invoiceAddButton {
  border: 1px solid #1a73e8;
  width: 120px;
  margin-top: 12px;
  padding: 12px;
  background-color: transparent;
  color: #1a73e8;
  border-radius: 5px;
  cursor: pointer;
}
